.container-fluid {
  background-color: black;
  color: white;
}
.jumbotron{
  height: 100vh;
  background-image: url(https://bit.ly/30jvBmG);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: inset rgb(0, 0, 0, 0.5) 0 3000px ;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: large;
}
.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  text-align: center;
}
.col-md-4>img{
  width: 150px;
  height: 150px;
  border-radius: 10px;
  border: tomato 4px solid;
}
form {
  display: flex;
  flex-direction: column;
  border: solid tomato 2px;
  text-align: center;
  padding: 30px;
  border-radius: 20px;
}
label {
  margin-top: 20px;
}
input select{
  max-width: 30vw;
}
#delivery {
  zoom: 2;
  margin-bottom: 10px;
}
#delivery-address {
  display: none;
}

#checkout, #deliveryinfo{
  display: none;
}
#checkout {
  border: solid 2px tomato;
  border-radius: 20px;
  padding: 30px;
  text-align: center;
}
h3 {
  text-align: center;
  color: tomato;
}
.contacts {
  display: flex;
  justify-content: space-evenly;
}